.summary-record {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: left;
    border: 5px solid rgb(40, 105, 247);
    width: auto;
    margin-bottom: 10px;
    height: 40px;
    padding: 10px;
}

.record-expense {
    border: 2px solid rgb(204, 13, 13);
    background-color: rgb(243, 88, 88);
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

.record-income {
    border: 2px solid rgb(20, 228, 83);
    background-color: rgb(76, 240, 125);
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

.remove-button-container {
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.remove-button {
    height: 40px;
}